/casanova/bin
/casanova-android/bin
/casanova-android/gen
/casanova-desktop/bin
/casanova-android/gen
/casanova-android/bin
/casanova-desktop/bin
/casanova-android/proguard
/casanova-desktop/assets/data/main.png
/casanova-desktop/assets/data/main2.png
/casanova-desktop/assets/data/main.atlas
/casanova-desktop/raw/image/btn-1.png
/casanova-desktop/raw/image/btn-2.png
/casanova-desktop/raw/image/dialog.png
